<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Stanislavz\VendorEntity\Model\ResourceModel\Vendor\Grid\CollectionVirtual"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vendor_entity</argument>
            <argument name="resourceModel" xsi:type="string">
                Stanislavz\VendorEntity\Model\ResourceModel\Vendor
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vendors_listing_data_source"
                      xsi:type="string">Stanislavz\VendorEntity\Model\ResourceModel\Vendor\Grid\CollectionVirtual</item>
            </argument>
        </arguments>
    </type>
    <preference for="Stanislavz\VendorEntity\Api\Data\VendorInterface"
                type="Stanislavz\VendorEntity\Model\Vendor" />
    <preference for="Stanislavz\VendorEntity\Api\VendorRepositoryInterface"
                type="Stanislavz\VendorEntity\Model\VendorRepository" />
</config>